@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  position: relative;
  font-family: "Pretendard-Regular", sans-serif;
  color: #948475;
}

main {
  position: relative;
  overflow: hidden;
}

section {
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #948475;
}

table {
  outline: 0px;
  border-spacing: 0px;
}

figure {
  position: relative;
}

a, button, input {
  box-shadow: none;
  border: 0;
  background-color: transparent;
}

button, i {
  color: #1d1d1d;
}

.swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: none !important;
}

.swiper-button-prev, .swiper-button-next {
  position: relative;
  width: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background: none;
}

.dash-list li {
  position: relative;
  padding-left: 0.6em;
}

.dash-list li::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "-";
}

.hd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  transition: 0.8s;
}

.hd .header-fixed-wrap {
  position: relative;
  z-index: 15;
  transition: 0.8s;
}
.hd .header-fixed-wrap .inner-con {
  display: flex;
  justify-content: space-between;
  width: 1600px;
  margin: 0 auto;
  padding-top: 65px;
}
.hd .header-fixed-wrap .logo {
  width: 245px;
  transition: 0.8s;
}
.hd .header-fixed-wrap .logo img {
  display: block;
  width: 100%;
}

.hd .menu-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}
.hd .menu-btn .line {
  width: 100%;
  height: 1px;
  display: block;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
  transition: 0.4s;
}
.hd .menu-btn .line1 {
  transform: translateY(-3px);
}
.hd .menu-btn .line2 {
  transform: translateY(3px);
}

.hd .header-contents-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: 0.8s;
}

.hd .header-contents-wrap .logo {
  text-align: center;
  padding-top: 86px;
}

.hd .header-contents-wrap .inner-con {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.hd .header-contents-wrap .top-con {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  width: 100%;
}

.hd .header-contents-wrap .top-con .menu-img-wrap {
  width: 50%;
  position: absolute;
  top: 86px;
  left: 0;
  transition: 0.8s;
}

.hd .header-contents-wrap .top-con .main-menu-wrap {
  display: flex;
  position: absolute;
  width: 50%;
  right: 123px;
  top: 86px;
  justify-content: flex-end;
}

.hd .header-contents-wrap .top-con .main-menu-wrap .menu-wrap {
  text-align: right;
}

.hd .header-contents-wrap .top-con .main-menu-wrap .main-list {
  position: relative;
}

.hd .header-contents-wrap .top-con .main-menu-wrap .main-list > a {
  font-size: 35px;
  font-family: "kepler-light", sans-serif;
}

.hd .header-contents-wrap .top-con .main-menu-wrap .main-list > .sub-menu {
  width: 340px;
  padding-top: 10px;
  border-top: 1px solid #cdc6bf;
}

.hd .header-contents-wrap .top-con .main-menu-wrap .main-list > .sub-menu > li {
  font-size: 30px;
  margin-bottom: 24px;
  font-family: "freight-sans-light", sans-serif;
}

.hd .header-contents-wrap .view {
  width: 100px;
  position: absolute;
  right: 240px;
  top: 63px;
  font-size: 16px;
}

.hd .header-contents-wrap .view li {
  margin-bottom: 10px;
  font-size: 16px;
}

.hd .header-contents-wrap .bottom-con {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 60px;
}

.hd .header-contents-wrap .bottom-con .sns-wrap {
  width: 50%;
  padding-right: 123px;
  display: flex;
  justify-content: flex-end;
}

.hd .header-contents-wrap .bottom-con .sns-wrap li {
  font-size: 15px;
  margin-left: 30px;
}

.hd .header-contents-wrap .bottom-con .sns-wrap li a {
  display: flex;
  justify-content: end;
}

.hd .header-contents-wrap .bottom-con .sns-wrap li img {
  display: block;
  margin-right: 5px;
}

.hd .header-contents-wrap .menu-btn {
  position: absolute;
  top: 105px;
  right: 123px;
}

.hd .header-contents-wrap .menu-btn .line1 {
  transform: rotate(45deg);
  background-color: #9f9184;
}

.hd .header-contents-wrap .menu-btn .line2 {
  transform: rotate(-45deg);
  background-color: #9f9184;
}

/*탑 비쥬얼 - slide*/
.top-slide-wrap .con1 .top-vdo-wrap {
  height: 100vh;
}

.top-vdo {
  width: 100%;
  height: 100%;
  position: relative;
}

.top-vdo iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.top-vdo.horizon iframe {
  width: 110vw;
  height: 62vw;
}

/* .top-vdo iframe.visible {opacity: 1; } */
.top-vdo iframe.hide {
  display: none;
}

.top-vdo.vertical iframe {
  height: 100%;
  width: calc(177.777vh + 170px);
}

.reser-wrap .top-vdo {
  overflow: hidden;
}

.reser-wrap .top-vdo iframe {
  opacity: 1;
}

.top-slide-wrap .con1 .swiper-slide {
  height: 100vh;
}

.top-slide-wrap .con1 .top-overflow {
  width: 170vw;
  border-radius: 0 0 50% 50%;
  overflow: hidden;
  transform: translateX(-35vw);
}

.top-slide-wrap .con1 .top-move-box {
  width: 100vw;
  position: relative;
  transform: translateX(35vw);
}

.top-slide-wrap .con1 .tit-wrap {
  position: absolute;
  right: 0;
  bottom: 140px;
  text-align: right;
  pointer-events: none;
  width: 100%;
  z-index: 15;
}

.top-slide-wrap .con1 .tit-wrap .tit {
  color: white;
  position: relative;
  right: 160px;
}

.top-slide-wrap .con1 .tit-wrap.on .tit div {
  transform: translateY(0); 
}

.top-slide-wrap .con1 .tit-wrap .tit div {
  font-size: 30px;
  font-family:  "Lato-Light", sans-serif;
  transform: translateY(1.2em); 
  transition: 1.2s;
}

.top-slide-wrap .con1 .tit-wrap .tit div i {
  color: #fff;
  font-family: "miller-banner-light", sans-serif;
  font-style: italic;
  font-size: 35px;
}

.top-slide-wrap .con1 .tit-wrap .tit div p {
  padding-top: 10px;
  font-size: 15px !important;
  line-height: 1.3;
  font-family: "Lato-Light", sans-serif;
}

.top-slide-wrap .con1 .tit-wrap .basic-slide-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  pointer-events: all;
}

.top-slide-wrap .con1 .tit-wrap .basic-slide-btn button {
  display: flex;
  align-items: center;
}

.top-slide-wrap .con1 .tit-wrap .basic-slide-btn button a {
  font-size: 15px;
  font-family: "VentiCF";
  font-weight: 400;
}

.top-slide-wrap .con1 .tit-wrap .basic-slide-btn button .slide-line {
  display: block;
  width: 45px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.top-slide-wrap .con1 .tit-wrap .basic-slide-btn .center-deco {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-slide-wrap .con1 .tit-wrap .basic-slide-btn .center-deco .center-cir {
  display: block;
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
}

.top-slide-wrap .con1 .tit-wrap .basic-slide-btn .prev-btn {
  margin-right: 15px;
}

.top-slide-wrap .con1 .tit-wrap .basic-slide-btn .next-btn {
  margin-left: 15px;
}

.top-slide-wrap .con1 .tit-wrap .basic-slide-btn .next-btn-wrap {
  flex-flow: row-reverse;
}

.top-slide-wrap .con1 .tit-wrap .basic-slide-btn {
  pointer-events: all;
}

.top-slide-wrap .con1 .tit-wrap .movie-btn {
  pointer-events: all;
}


/*탑 비쥬얼 - image*/
.top-img-wrap .con1 .top-img-wrap {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top-img-wrap .con1 .top-img-wrap .tit-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 460px;
  height: 98%;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-img-wrap .con1 .top-img-wrap .tit-wrap h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-family: "IvyMode", sans-serif;
  font-weight: 200;
  text-align: center;
}

.tour-wrap.top-img-wrap .con1 .top-img-wrap .tit-wrap h3 {
  justify-content: space-between;
}

.top-img-wrap .con1 .top-img-wrap .tit-wrap h3 span {
  transform: translateY(1.2em);
  opacity: 0;
  transition: 1.2s;
}

.top-img-wrap .con1 .top-img-wrap .tit-wrap.on h3 span {
  transform: translateY(0);
  opacity: 1;
}

.tour-wrap.top-img-wrap .con1 .top-img-wrap .tit-wrap h3 span:first-of-type {
  margin-left: -60px;
}

.tour-wrap.top-img-wrap .con1 .top-img-wrap .tit-wrap h3 span:last-of-type {
  margin-right: -60px;
}

.reser-wrap.top-img-wrap .con1 .top-img-wrap {
  height: 100vh;
}

/*카테고리*/
.intro-cata {
  padding-top: 220px;
}

.intro-cata .line {
  width: 100%;
  height: 1px;
  background-color: #ddcbbe;
}

.intro-cata .txt {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.intro-cata .txt span {
  font-size: 15px;
  font-family: "VentiCF", sans-serif;
  color: #ddcbbe;
  font-weight: 500;
  letter-spacing: -0.03em;
}

/*메인*/
.main-wrap .visual-section .visual-img-wrap {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrap .visual-section .visual-tit-wrap {
  margin-top: 255px;
  margin-bottom: 320px;
  background-image: url(../img/main_txt_bg.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /*background-size: cover;*/
  background-position-y: 0%;
  background-attachment: fixed;
}

.main-wrap .visual-section .visual-tit-wrap h2 {
  font-size: 13vw;
  font-family: "IvyMode", sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 1em;
  letter-spacing: 0.06em;
}

.main-wrap .visual-section .visual-tit-wrap h3 {
  font-size: 50px;
  font-weight: 500;
  font-family: "IvyMode", sans-serif;
  letter-spacing: 0.06em;
}

.main-wrap .visual-section .inner-img {
  overflow: hidden;
  max-width: 435px;
  border: 2px solid white;
  transition: 0.8s;
  position: relative;
}

.main-wrap .visual-section .inner-img img {
  display: block;
  width: 100%;
}

.main-wrap .visual-section .inner-img.on {
  border-radius: 50%;
}

.main-wrap .movie-btn {
  width: 194px;
  height: 54px;
  text-align: center;
  position: absolute;
  right: 162px;
  bottom: 100px;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 900px 900px 900px 900px/300px 300px 300px 300px;
}

.main-wrap .movie-btn .view-txt {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: #948475;
}

.main-wrap .movie-btn:hover {
  background: rgb(255, 255, 255);
}

.main-wrap .movie-btn .arrow-wrap {
  width: 50px;
  height: 10px;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.8s;
}

.main-wrap .movie-btn:hover .arrow-wrap {
  transform: translateX(15px);
}

.main-wrap .movie-btn .arrow-wrap .slide-arrow {
  width: 7px;
  height: 1px;
  position: absolute;
  margin-right: -6px;
  right: 5px;
}

.main-wrap .movie-btn .arrow-wrap .slide-arrow::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg);
  transform-origin: right;
}

.main-wrap .movie-btn .arrow-wrap .slide-arrow::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-45deg);
  transform-origin: right;
}

.main-wrap .movie-btn .arrow-wrap .slide-line {
  width: 100%;
  height: 1px;
  background-color: white;
}

.tit-visual {
  color: #948475;
  font-family: "Lato-Regular", sans-serif;
  text-align: center;
  font-size: 13px;
}

/*객실 프리뷰 */
.room-preview-section .sero-tit {
  height: 1200px;
  position: relative;
  top: 140px;
  left: calc(50% - 30px);
  z-index: 15;
  pointer-events: none;
}

.room-preview-section .sero-tit p {
  writing-mode: vertical-rl;
  font-size: 155px;
  font-family: "miller-banner-light", sans-serif;
  color: #948475;
  letter-spacing: -1px;
}

.room-preview-section .sero-tit p.s {
  font-size: 89px;
  position: absolute;
  top: 0;
  left: -94px;
  opacity: 0.5;
  letter-spacing: -2px;
}

.room-preview-section .pic {
  position: absolute;
  top: 150px;
}

.room-preview-section .pic1 {
  left: 0;
  top: 280px;
}

.room-preview-section .pic2 {
  left: 133px;
  top: 726px;
}

.room-preview-section .pic3 {
  right: 0;
}

.main-wrap .con3 {
  background: #fff9f4;
  border-top: 1px solid #c9beb4;
  position: relative;
}

.main-wrap .con3 .inner-cont {
  height: 782px;
  border-bottom: 1px solid #c9beb4;
}

.main-wrap .con3 .inner-cont .inner-cont1,
.main-wrap .con3 .inner-cont .inner-cont2,
.main-wrap .con3 .inner-cont .inner-cont3 {
  width: 1600px;
  margin: 0 auto;
  position: relative;
}

.main-wrap .con3 .inner-cont .img1 {
  position: absolute;
  top: 83px;
}

.main-wrap .con3 .inner-cont .img2 {
  position: absolute;
  top: 88px;
  right: 0;
}

.main-wrap .con3 .inner-cont .txt-area {
  position: absolute;
  right: 0;
  top: 447px;
  text-align: right;
}

.main-wrap .con3 .inner-cont .txt-area .tit {
  font-size: 70px;
  font-family: "miller-banner-light", sans-serif;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

.main-wrap .con3 .inner-cont .txt-area .txt {
  font-size: 14px;
  margin-bottom: 22px;
  letter-spacing: -1px;
}

.main-wrap .con3 .inner-cont .btn {
  display: flex;
  width: 194px;
  height: 54px;
  border-radius: 900px 900px 900px 900px/300px 300px 300px 300px;
  background: rgba(148, 132, 117, 0.2);
  text-align: center;
  right: 0;
  position: absolute;
}

.main-wrap .con3 .inner-cont .btn a {
  display: block;
  width: 100%;
  height: 54px;
  padding-top: 15px;
  color: #948475;
  font-size: 13px;
  text-align: center;
}

.main-wrap .con3 .inner-cont .btn a:hover {
  color: #fff;
}

.main-wrap .con3 .inner-cont2 {
  height: 765px;
}

.main-wrap .con3 .inner-cont2 .img1 {
  top: 70px;
}

.main-wrap .con3 .inner-cont2 .img2 {
  top: 80px;
}

.main-wrap .con3 .inner-cont2 .txt-area {
  text-align: left;
  right: auto;
  left: 0;
  top: 446px;
}

.main-wrap .con3 .inner-cont2 .btn {
  right: auto;
  left: 0;
}

.main-wrap .con3 .inner-cont3 {
  height: 765px;
}

.main-wrap .con4 {
  position: relative;
  background: #fff9f4;
  height: 975px;
  margin-top: 40px;
}

.main-wrap .con4 .bg-txt {
  font-size: 332px;
  color: #3f3a34;
  opacity: 0.05;
  font-family: "miller-banner-light", sans-serif;
  position: absolute;
  top: 437px;
  left: 400px;
  z-index: 30;
}

.main-wrap .con4 .inner-cont {
  height: 975px;
}

.main-wrap .con4 .inner-cont .img1 {
  position: absolute;
  top: 216px;
  left: 0;
}

.main-wrap .con4 .inner-cont .img2 {
  position: absolute;
  top: 216px;
  left: 321px;
}

.main-wrap .con4 .inner-cont .img3 {
  position: absolute;
  top: 216px;
  left: 738px;
  z-index: 20;
}

.main-wrap .con4 .white-bg {
  background: #fff;
  width: 960px;
  height: 834px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.main-wrap .con4 .white-bg .tit {
  position: absolute;
  top: 260px;
  right: 217px;
  color: #948475;
  font-family: "miller-banner-light", sans-serif;
  font-size: 45px;
}

.main-wrap .con4 .white-bg .txt {
  position: absolute;
  top: 365px;
  right: 217px;
  text-align: right;
  color: #414141;
  font-size: 16px;
}

.main-wrap .con4 .btns-area {
  position: absolute;
  top: 528px;
  right: 320px;
}

.main-wrap .con5 {
  position: relative;
  background: #fff9f4;
  height: 895px;
  color: #fff;
}

.main-wrap .con5 .img1 {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.main-wrap .con5 .img1 img{
  width: 100%;
}

.main-wrap .con5 .txt-area {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 895px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-wrap .con5 .txt-area .inner-txt {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.main-wrap .con5 .txt-area .tit {
  font-size: 20px;
  font-family: "miller-banner-light", sans-serif;
}

.main-wrap .con5 .txt-area .txt {
  margin-top: 16px;
  font-size: 50px;
  font-family: "miller-banner-light", sans-serif;
}

.main-wrap .con5 .txt-area .txt2 {
  margin-top: 32px;
  font-size: 14px;
}

.main-wrap .con5 .txt-area .btn-area {
  width: 159px;
  height: 46px;
  margin-top: 33px;
  font-size: 12px;
  border: 1px solid #fff;
  border-radius: 900px 900px 900px 900px/300px 300px 300px 300px;
}

.main-wrap .con5 .txt-area .btn-area a {
  display: block;
  width: 159px;
  height: 46px;
  text-align: center;
  padding-top: 13px;
  color: #fff;
}

/*푸터*/
.ft .ft-overflow {
  overflow: hidden;
  height: 634px;
  padding-top: 100px;
  background: #fff9f4;
}

.ft .inner-con {
  width: 1340px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.ft .inner-con.hr {
  border-top: 1px solid #e1d7d0;
  margin-top: 85px;
  padding-top: 46px;
}

.ft .inner-con .left-cont {
  width: 50%;
  font-family: "lato-lagular", sans-serif;
  font-size: 14px;
}

.ft .inner-con .left-cont > ul {
  display: flex;
  text-align: center;
}

.ft .inner-con .left-cont > ul > li {
  width: 106px;
}

.ft .inner-con .left-cont > ul > li > ul {
  margin-top: 20px;
  font-size: 12px;
  font-family: "Pretendard-Regular", sans-serif;
}

.ft .inner-con .left-cont .admin {
  text-decoration: underline;
  color: #957f72;
  font-size: 14px;
}

.ft .inner-con .right-cont {
  width: 50%;
  text-align: right;
}

.ft .inner-con .right-cont .address {
  margin-top: 30px;
  color: #454646;
  font-size: 14px;
}

.ft .inner-con .right-cont .sns-wrap {
  margin-top: 53px;
  display: flex;
  justify-content: flex-end;
}

.ft .inner-con .right-cont .sns-wrap li {
  margin-left: 20px;
}

.ft .inner-con .right-cont .copyright {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 12px;
}

.ft .inner-con .right-cont span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

/* 서브 */
.prologue-area {
  background: #fff url(../images/gallery/bg-prologue.png) 0 1240px no-repeat;
}

.prologue-area .prologue-box {
  width: 1600px;
  height: 1786px;
  margin: 0 auto;
  color: #948475;
  text-align: center;
  position: relative;
}

.prologue-area .prologue-box .tit {
  padding-top: 270px;
  font-size: 100px;
  font-family: "miller-banner-light", sans-serif;
}

.prologue-area .prologue-box .tit-bg {
  width: 100%;
  font-size: 200px;
  opacity: 0.1;
  position: absolute;
  top: 128px;
  font-family: "miller-banner-light", sans-serif;
  text-align: center;
}

.prologue-area .prologue-box .txt {
  padding-top: 160px;
  font-family: "NanumMyeongjoBold", sans-serif;
  font-size: 20px;
}

.prologue-area .prologue-box .txt2 {
  padding-top: 50px;
  font-size: 16px;
}

.prologue-area .prologue-box .txt3 {
  position: absolute;
  right: 0;
  font-size: 11px;
}

.prologue-area .prologue-box .img {
  position: absolute;
}

.prologue-area .prologue-box .img1 {
  top: 505px;
}

.prologue-area .prologue-box .img2 {
  top: 505px;
  right: 0;
}

.prologue-area .prologue-box .img3 {
  top: 1105px;
  right: 538px;
}

.prologue-area .prologue-box .img4 {
  top: 1105px;
  right: 0;
}

.room-area .room-box {
  width: 1600px;
  margin: 0 auto;
  position: relative;
}

.room-area .room-box .tit-area .tit {
  margin-top: 265px;
  font-size: 100px;
  font-family: "miller-banner-light", sans-serif;
}

.room-area .room-box .tit-area .tit-b {
  font-size: 200px;
  font-family: "miller-banner-light", sans-serif;
  opacity: 0.1;
  position: absolute;
  top: -170px;
  left: 0;
}

.room-area .room-box .img-txt-wrap {
  height: 1058px;
  position: relative;
  background: url(../images/common/line_room.png) 127px 0px no-repeat;
}

.room-area .room-box .img-txt-wrap .img-area {
  position: absolute;
  left: 0;
  top: 65px;
}

.room-area .room-box .img-txt-wrap .txt-area {
  width: 800px;
  position: absolute;
  right: 0;
  top: 65px;
}

.room-area .room-box .img-txt-wrap .txt-area h3 {
  border-bottom: 1px solid #c9c1ba;
  font-family: "miller-banner-light", sans-serif;
  font-size: 25px;
  line-height: 1.9;
  color: #948475;
}

.room-area .room-box .img-txt-wrap .txt-area .cont {
  padding-top: 20px;
  padding-bottom: 35px;
  letter-spacing: -1px;
  color: #948475;
}

.room-area .room-box .img-txt-wrap .txt-area .cont dl {
  display: flex;
  font-size: 16px;
}

.room-area .room-box .img-txt-wrap .txt-area .cont dt {
  margin-right: 30px;
  font-family: "Pretendard-Medium", sans-serif;
}

.room-area .room-box .img-txt-wrap .txt-area .cont dd {
  margin-right: 30px;
}

.room-area .room-box .img-txt-wrap .txt-area .cont h4 {
  padding-top: 25px;
  padding-bottom: 5px;
}

.room-area .room-box .img-txt-wrap .btn-area {
  width: 194px;
  height: 54px;
  border: 1px solid #948475;
  text-align: center;
  border-radius: 900px 900px 900px 900px/300px 300px 300px 300px;
}

.room-area .room-box .img-txt-wrap .btn-area a {
  padding-top: 13px;
  display: block;
  width: 100%;
  height: 54px;
}

.room-area .room-box .img-area-bottom {
  height: 1080px;
  position: relative;
}

.room-area .room-box .img-area-bottom .img {
  position: absolute;
}

.room-area .room-box .img-area-bottom .img1 {
  top: 435px;
  z-index: 20;
}

.room-area .room-box .img-area-bottom .img2 {
  top: 235px;
  left: 357px;
  z-index: 10;
}

.room-area .room-box .img-area-bottom .img3 {
  top: 130px;
  left: 748px;
  z-index: 10;
}

.room-area .room-box .img-area-bottom .img4 {
  top: 333px;
  left: 1168px;
  z-index: 10;
}

.special-area .special-box {
  width: 1600px;
  margin: 0 auto;
  position: relative;
}

.special-area .special-box .tit-area {
  text-align: center;
}

.special-area .special-box .tit-area .tit {
  margin-top: 265px;
  font-size: 100px;
  font-family: "miller-banner-light", sans-serif;
}

.special-area .special-box .tit-area .tit-b {
  width: 100%;
  text-align: center;
  font-size: 200px;
  font-family: "miller-banner-light", sans-serif;
  opacity: 0.1;
  position: absolute;
  top: -170px;
  left: 0;
}

.special-area .special-box .cont-area {
  height: 1288px;
  position: relative;
}

.special-area .special-box .round-txt {
  font-family: "miller-banner-light", sans-serif;
  font-size: 72px;
  color: #948475;
  opacity: 0.3;
  animation: rollingTxt 30s infinite linear;
}

.special-area .special-box .img-area [class*=img] {
  position: absolute;
}

.special-area .special-box .img-area .img1 {
  left: 0;
  top: 0;
}

.special-area .special-box .img-area .img2 {
  right: 115px;
  top: 414px;
}

.special-area .special-box .img-area .img3 {
  left: 912px;
  top: 615px;
}

.special-area .special-box .txt-area {
  position: absolute;
  left: 908px;
  top: 134px;
}

.special-area .special-box .txt-area .txt1 {
  font-size: 20px;
  font-family: "NanumMyeongjoBold", sans-serif;
}

.special-area .special-box .txt-area .txt2 {
  margin-top: 30px;
}

.tour-area .tour-box {
  width: 1600px;
  margin: 0 auto 133px;
  position: relative;
}

.tour-area .tour-box .tit-area {
  text-align: center;
}

.tour-area .tour-box .tit-area .tit {
  margin-top: 265px;
  font-size: 100px;
  font-family: "miller-banner-light", sans-serif;
}

.tour-area .tour-box .tit-area .tit-b {
  width: 100%;
  text-align: center;
  font-size: 200px;
  font-family: "miller-banner-light", sans-serif;
  opacity: 0.1;
  position: absolute;
  top: -170px;
  left: 0;
}

.tour-area .tour-box .cont-area {
  display: flex;
  margin-top: 170px;
}

.tour-area .tour-box .tour-nav-wrap {
  width: 50%;
}

.tour-area .tour-box .tour-nav-wrap .on {
  font-weight: 900;
  font-size: 20px;
}

.tour-area .tour-box .tour-nav-wrap li {
  margin-bottom: 10px;
}

.tour-area .tour-box .tour-list-wrap {
  width: 50%;
}

.tour-area .tour-box .tour-list-wrap h3 {
  margin-top: 43px;
  font-size: 28px;
  font-family: "NanumMyeongjoBold", sans-serif;
}

.tour-area .tour-box .tour-list-wrap h4 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
}

.tour-area .tour-box .tour-list-wrap .txt {
  width: 700px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.reservation-area .reservation-box {
  width: 1600px;
  margin: 0 auto 133px;
  position: relative;
}

.reservation-area .reservation-box .tit-area {
  text-align: center;
}

.reservation-area .reservation-box .tit-area .tit {
  margin-top: 265px;
  font-size: 100px;
  font-family: "miller-banner-light", sans-serif;
}

.reservation-area .reservation-box .tit-area .tit-b {
  width: 100%;
  text-align: center;
  font-size: 200px;
  font-family: "miller-banner-light", sans-serif;
  opacity: 0.1;
  position: absolute;
  top: -170px;
  left: 0;
}

.reservation-area .reservation-box {
  width: 1400px;
  margin: 0 auto 133px;
  position: relative;
}

.reservation-area .reservation-box .tit-area {
  text-align: center;
}

.reservation-area .reservation-box .tit-area .tit {
  margin-top: 265px;
  font-size: 100px;
  font-family: "miller-banner-light", sans-serif;
}

.reservation-area .reservation-box .tit-area .tit-b {
  width: 100%;
  text-align: center;
  font-size: 200px;
  font-family: "miller-banner-light", sans-serif;
  opacity: 0.1;
  position: absolute;
  top: -170px;
  left: 0;
}

.reservation-area .reservation-box .cont-area {
  margin-top: 180px;
  display: flex;
}

.reservation-area .reservation-box .txt-area {
  margin-left: 88px;
}

.reservation-area .reservation-box .txt-area .tit {
  margin-bottom: 50px;
  margin-top: 35px;
  font-size: 50px;
  font-family: "NanumMyeongjoBold", sans-serif;
}

.reservation-area .reservation-box .txt-area dl {
  display: flex;
  font-size: 20px;
}

.reservation-area .reservation-box .txt-area dt {
  padding: 0 18px 20px 45px;
  font-family: "Pretendard-Medium", sans-serif;
  font-weight: 600;
}

.reservation-area .reservation-box .txt-area dt.ico1 {
  background: url(../images/common/ico_reser1.png) 0 0 no-repeat;
}

.reservation-area .reservation-box .txt-area dt.ico2 {
  background: url(../images/common/ico_reser2.png) 0 0 no-repeat;
}

.reservation-area .reservation-box .txt-area dt.ico3 {
  background: url(../images/common/ico_reser3.png) 0 0 no-repeat;
}

.reservation-area .reservation-box .txt-area dd {
  font-family: "Pretendard-Regular", sans-serif;
}

.reservation-area .reservation-box .txt-area .btn-area {
  margin-top: 44px;
  width: 194px;
  height: 54px;
}

.reservation-area .reservation-box .txt-area .btn-area a {
  display: block;
  width: 100%;
  height: 54px;
  padding-top: 16px;
  background: rgba(148, 132, 117, 0.2);
  font-size: 13px;
  color: #948475;
  border-radius: 900px 900px 900px 900px/300px 300px 300px 300px;
  text-align: center;
}

.reservation-area .reservation-box .table-area {
  text-align: center;
  margin-top: 95px;
}

.reservation-txt-area .reservation-txt-box {
  width: 1400px;
  margin: 0 auto;
  padding-top: 195px;
  padding-bottom: 160px;
}

.reservation-txt-area .reservation-txt-box .cont {
  display: flex;
  letter-spacing: -1px;
}

.reservation-txt-area .reservation-txt-box .cont .left {
  flex: 1;
}

.reservation-txt-area .reservation-txt-box .cont ul {
  margin-bottom: 30px;
  margin-top: 5px;
}

.reservation-txt-area .reservation-txt-box .cont .right {
  flex: 1;
}

.reservation-txt-area h3 {
  font-size: 50px;
  font-family: "NanumMyeongjoBold", sans-serif;
}

.reservation-txt-area .cont-area2 {
  margin-top: 125px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt60 {
  margin-top: 60px;
}
/*scroll-animation*/
.scroll-obj {
  transition: 1.4s;
}

.scroll-obj.fadeY {
  opacity: 0;
  transform: translateY(30px);
}

.scroll-obj.fadeX {
  opacity: 0;
  transform: translateX(30px);
}

.scroll-obj.fadeXR {
  opacity: 0;
  transform: translateX(-30px);
}

.scroll-obj.fadeY.on {
  opacity: 1;
  transform: translateY(0px);
}

.scroll-obj.fadeX.on {
  opacity: 1;
  transform: translateX(0px);
}

.scroll-obj.fadeXR.on {
  opacity: 1;
  transform: translateX(0px);
}

.scroll-obj.scrollY {
  transform: translateY(1.2em);
}

.scroll-obj.scrollY.on {
  transform: translateY(0);
}

.scroll-obj.lineY {
  transform: scaleY(0);
  transform-origin: top;
}

.scroll-obj.lineY.on {
  transform: scaleY(1);
}

.scroll-obj.lineX {
  transform: scaleX(0);
  transform-origin: left;
}

.scroll-obj.lineX.on {
  transform: scaleX(1);
}

.m-br {
  display: none;
}

@keyframes rollingTxt {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rollingTxt_translate {
  from {
    transform: translate(-50%, 50%) rotate(0);
  }
  to {
    transform: translate(-50%, 50%) rotate(360deg);
  }
}
@keyframes rollingTxt_translateX {
  from {
    transform: translateX(-50%) rotate(0);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}/*# sourceMappingURL=common.css.map */
