@charset "utf-8";

[data-motion="tilde"] .top-overflow {
  border-radius: 0 !important;
  /* height: 911px; */
  transition: all ease 0.5s;
}
[data-motion="tilde"].active .top-overflow {
  border-radius: 0 0 50% 50% !important;
  height: 50%;
}