@charset "utf-8";

[data-motion="tilde"] .top-overflow {
  border-radius: 0 !important;
  /* height: 911px; */
  transition: all ease 1.5s;
}
[data-motion="tilde"].active .top-overflow {
  border-radius: 0 0 0 110% !important;
  height: 50%;
}

/* [data-motion=tour] .tour-list-wrap li {
  display: none;
}
[data-motion=tour] .tour-list-wrap li.on {
  display: block;
} 
.cont-area[data-motion=tour] {
  position: relative;
  height: 100%;
}
*/

.cont-area[data-motion=tour] .tour-nav-wrap{
  height: 500px;
  position: sticky;
  top: 30%;
}

.offerSwiper + .white-bg {
  background-color: transparent !important;
  z-index: 100 !important;
  top: 0;
}
.offerSwiper {
  width: 1150px;
  overflow: hidden;
}
.offerSwiper .swiper-slide {
  display: flex;
  align-items: center;
  align-items: flex-start;
  gap: 20px;
}

/* alt */
/* .offerSwiper .white-bg {
  background-color: transparent !important;
  width: auto !important;
  height: auto !important;
  position: static !important;
  padding-top: -100px !important;
}
.offerSwiper .swiper-slide {
  display: flex;
  align-items: center;
}
.offerSwiper .img-group {
  display: flex;
  align-items: center;
  align-items: flex-start;
  gap: 20px;
}
.offerSwiper .ctrl {
  width: 1600px;
  text-align: right;
  margin: 0 auto;
  position: relative;
  z-index: 100;
} */

.room-preview-section .sero-tit-m {
  margin-top: 30px;

}
.room-preview-section .sero-tit-m p {
  font-size: 28px;
  font-family: "miller-banner-light", sans-serif;
  color: #948475;
  letter-spacing: -1px;
}

.room-preview-section .sero-tit-m p.s {
  font-size: 28px;
  opacity: 0.6;
  letter-spacing: -2px;
}

.room-preview-section .pic1 {
  left: auto;
  width: 100%;
}
.room-preview-section .pic1 img{
  margin: 0 15%;
}
.room-preview-section .pic2 {
  left: auto;
  width: 100%;
}
.room-preview-section .pic2 img{
  margin: 0 20.8%;
}
.room-preview-section .pic3 {
  left: 0;
  width: 100%;
  right: 0;
}
.room-preview-section .pic3 img{
  margin: 0 auto;
  margin-right: 14.5%;
}

.ft-logo img{
  margin: 0 0 0 auto;
}

.main-wrap .ncon3 {
  position: relative;
  width: 100%;
}
.main-wrap .ncon3 .inner-cont {
  height: auto;
  width: 100%;
}

.main-wrap .ncon3 .inner-cont .inner-cont1, 
.main-wrap .ncon3 .inner-cont .inner-cont2, 
.main-wrap .ncon3 .inner-cont .inner-cont3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff9f4;
  border-top: 1px solid #c9beb4;
}
.main-wrap .ncon3 .inner-cont .inner-cont3 {
  border-bottom: 1px solid #c9beb4;
}

.main-wrap .ncon3 .inner-cont .inner-cont1 .inner-left {
  width: 820px;
}

.main-wrap .ncon3 .inner-cont .inner-cont1 .inner-right {
  padding: 85px 0 85px 100px;
  border-left: 1px solid #c9beb4;
  text-align: right;
  width: 820px;
}
.main-wrap .ncon3 .inner-cont .inner-cont1 .inner-right img{
  margin: 0 0 0 auto;
}


.main-wrap .ncon3 .inner-cont .inner-right .txt-area {
    text-align: right;
    margin-top: 40px;
}
.main-wrap .ncon3 .inner-cont .inner-right .txt-area .tit {
  font-size: 70px;
  font-family: "miller-banner-light", sans-serif;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

.main-wrap .ncon3 .inner-cont .inner-right .txt-area .txt {
  font-size: 14px;
  margin-bottom: 22px;
  letter-spacing: -1px;
  white-space: pre-line;
}

.main-wrap .ncon3 .inner-cont .inner-cont2 .inner-left {
  width: 821px;
  padding: 85px 100px 85px 0px;
  border-right: 1px solid #c9beb4;
}

.main-wrap .ncon3 .inner-cont .inner-cont2 .inner-right {

  text-align: right;
  width: 819px;
}
.main-wrap .ncon3 .inner-cont .inner-cont2 .inner-right img{
  margin: 0 0 0 auto;
}


.main-wrap .ncon3 .inner-cont .inner-left .txt-area {
    margin-top: 40px;
}
.main-wrap .ncon3 .inner-cont .inner-left .txt-area .tit {
  font-size: 70px;
  font-family: "miller-banner-light", sans-serif;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

.main-wrap .ncon3 .inner-cont .inner-left .txt-area .txt {
  font-size: 14px;
  margin-bottom: 22px;
  letter-spacing: -1px;
}

.main-wrap .ncon3 .inner-cont .inner-cont3 .inner-left {
  width: 820px;
}

.main-wrap .ncon3 .inner-cont .inner-cont3 .inner-right {
  padding: 85px 0 85px 100px;
  border-left: 1px solid #c9beb4;
  text-align: right;
  width: 820px;
}
.main-wrap .ncon3 .inner-cont .inner-cont3 .inner-right img{
  margin: 0 0 0 auto;
}
.more-view {
  width: 194px;
  height: 54px;
  border-radius: 50%;
  background: rgba(148, 132, 117, 0.2);
  text-align: right;
}
.more-view.right{
  margin: 0 0 0 auto;
}
.more-view a {
  display: block;
  width: 100%;
  height: 54px;
  padding-top: 15px;
  color: #948475;
  font-size: 13px;
  text-align: center;
}
.more-view a:hover,  .more-view a:hover:active {
  color: #fff;
  background: rgba(148, 132, 117, 1);
  border-radius: 50%;
}

/* 반응형 니중에 이동 */
@media all and (max-width: 700px) {
  /* tit-area */
  .tour-area .tit-area,
  .prologue-area .tit-area {
    width: 100% !important;
  }
  .tour-area .tit-area .tit, 
  .prologue-area .tit-area .tit,
  .reservation-area .tit-area .tit {
    font-size: 28px !important;
    margin-top: 100px !important;
    padding-top: 0 !important;
  }
  .tour-area .tit-area [class^="tit-"],
  .prologue-area .tit-area [class^="tit-"],
  .reservation-area .tit-area [class^="tit-"] {
    font-size: 28px !important;
    position: static !important;
  }
  /* 02 */
  .prologue-area {
    width: 100% !important;
    padding: 20px;
    background-size: contain;
    background-position: center 10%;
  }
  .prologue-area .prologue-box {
    width: 100%;
    height: auto !important;
    padding-bottom: 120px;
  }
  .prologue-area .prologue-box .img {
    display: block;
    position: static !important;
    margin-top: 40px;
  }
  .prologue-area .prologue-box .img + .img {
    margin-top: 20px;
  }
  .prologue-area .prologue-box .img + .txt3 {
    margin-top: 20px;
  }
  /* 05 */
  .tour-area {
    width: 100%;
    padding: 20px;
  }
  .tour-area .tour-nav-wrap {
    display: none !important;
  }
  .tour-area .cont-area {
    margin-top: 100px !important;
  }
  .tour-area .tour-list-wrap, .tour-area .tour-box, .tour-area .tour-list-wrap * {
    width: 100% !important;
  }

  /* 06 */
  .reservation-area {
    width: 100% !important;
    padding: 20px;
  }
  .reservation-area .reservation-box {
    width: 100%;
    height: auto !important;
  }
  .reservation-area .cont-area {
    width: 100% !important;
    margin-top: 40px !important;
  }
  .reservation-area .cont-area .txt-area {
    margin: 0 !important;
    width: 100%;
  }
  .reservation-area .cont-area .txt-area .tit,
  .reservation-txt-area h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .reservation-area .txt dl{
    display: block !important;
  }
  .reservation-area .txt [class^="ico"] {
    font-size: 20px !important;
    padding: 0 !important;
  }
  .reservation-area .txt dd {
    font-size: 16px !important;
    padding: 0 !important;
    margin-bottom: 20px;
  }
  .reservation-area .table-area {
    width: 100% !important;
    margin-top: 20px !important;
    height: auto !important;
  }
  .reservation-txt-area .reservation-txt-box {
    padding-top: 10%;
    width: 100%;
  }
  .reservation-txt-area .cont-area {
    background: #fff9f4;
    padding: 20% 20px !important;
  }
  .reservation-txt-area .cont-area2 {
    padding: 20% 20px !important;
  }

  .reservation-txt-area .cont {
    display: block !important;
  }
  .reservation-txt-area .mt60 {
    margin: 0 !important;
  }
  .reservation-txt-area .right,
  .reservation-txt-area .cont-area2 {
    margin-top: 20% !important;
  }

}